.cadastro-tabela{width: 90%; margin-left: 3%;}
.botao-cadastro{position: relative; float: right; right: 3%; top:3%;}
.card-top{margin-top: 10px;margin-bottom: 10px;color: #909090;font-weight: 500;}
.semdados{
  text-align: center;
 }
