.submit-button
{
    margin-top: 15px;
    margin-left: 40%;
}

.campo-formulario
{
    width: 80%;
    position: relative;
    left:5%;

}

.fecharButton
{
    position: absolute;
    float: right;
    right: -5%;
    top:-7%;
}
.fecharButton button:hover
{
    background: red;
    color: white;

}

.fecharButton button
{
    background: transparent;
    color: grey;
}

.containerDialog
{
    position: relative;
}
